# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Uploads
uploads/

# Next.js
.next/
out/
tsconfig.tsbuildinfo

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
